input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 340px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #636c71;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.green {
  background-color: #008c00;
}

.blue {
  background-color: #004c9a;
}

.orange {
  background-color: #ec9f01;
}

.pink {
  background-color: #e41958;
}

.red {
  background-color: #dd124a;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

.btn {
  display: inline-block;
  padding: 13px;
  color: #ffffff;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 2px 6px #afadad;
          box-shadow: 2px 2px 6px #afadad;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dashboard {
  background: #ebebeb;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 800px) {
  .dashboard {
    margin-left: 250px;
  }
}

@media (min-width: 1000px) {
  .dashboard {
    margin-left: 200px;
  }
}

.dashboard__inner {
  padding: 40px;
}

@media (min-width: 800px) {
  .dashboard__inner {
    padding: 30px 30px 50px;
  }
}

@media (min-width: 1000px) {
  .dashboard__inner {
    padding: 25px 25px 40px;
  }
}

.dashboard__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}

@media (min-width: 800px) {
  .dashboard__top {
    margin-bottom: 60px;
  }
}

@media (min-width: 1000px) {
  .dashboard__top {
    margin-bottom: 40px;
  }
}

.dashboard__top .title {
  margin: 0;
  padding-left: 10px;
  color: #000;
}

.card {
  background: #f6f6f6;
  -webkit-box-shadow: 2px 2px 6px #afadad;
          box-shadow: 2px 2px 6px #afadad;
  position: relative;
  padding: 20px;
}

@media (min-width: 800px) {
  .card {
    padding: 25px;
  }
}

.card__top {
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #afadad;
          box-shadow: 2px 2px 2px #afadad;
}

.card__bottom {
  padding-top: 15px;
  border-top: 1px solid #aaaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card__bottom .text {
  padding-left: 10px;
  line-height: 1em;
}

@media (min-width: 800px) {
  .card__bottom .text {
    font-size: .9em;
  }
}

.card .title-box {
  text-align: right;
  padding-bottom: 18px;
}

@media (min-width: 800px) {
  .card .title-box {
    padding-bottom: 15px;
  }
}

.card .title-box .title {
  font-size: 1em;
}

@media (min-width: 1000px) {
  .card .title-box .title {
    font-size: 0.8em;
  }
}

.card .title-box .sub-title {
  font-size: 2em;
  color: #000000;
}

@media (min-width: 1000px) {
  .card .title-box .sub-title {
    font-size: 1.5em;
  }
}

.cards-small {
  display: -ms-grid;
  display: grid;
  gap: 70px;
  margin-bottom: 80px;
}

@media (min-width: 800px) {
  .cards-small {
    margin-bottom: 70px;
  }
}

@media (min-width: 800px) {
  .cards-small {
    margin-bottom: 50px;
  }
}

@media (min-width: 630px) {
  .cards-small {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px 20px;
  }
}

@media (min-width: 800px) {
  .cards-small {
    -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 55px 20px;
  }
}

@media (min-width: 1000px) {
  .cards-small {
    -ms-grid-columns: (minmax(172px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  }
}

.cards-small .card__top {
  position: absolute;
  top: -20px;
  left: 20px;
  right: 20px;
  padding: 20px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .cards-small .card__top {
    top: -15px;
  }
}

@media (min-width: 800px) {
  .cards-small .card__top {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1000px) {
  .cards-small .card__top {
    width: 65px;
    height: 65px;
  }
}

.cards-small .card__top .icon {
  display: block;
  width: 85%;
  height: auto;
}

@media (min-width: 800px) {
  .cards-small .card__top .icon {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .cards-small .card__top .icon {
    width: 130%;
  }
}

.cards-middle {
  display: -ms-grid;
  display: grid;
  gap: 70px;
  margin-bottom: 80px;
}

@media (min-width: 650px) {
  .cards-middle {
    -ms-grid-columns: (minmax(176px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    gap: 20px;
  }
}

@media (min-width: 800px) {
  .cards-middle {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1000px) {
  .cards-middle {
    margin-bottom: 50px;
  }
}

.cards-middle .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-middle .card__top {
  padding: 20px 20px 30px;
  margin-top: -45px;
  margin-bottom: 12px;
}

.cards-middle .card__top .icon {
  width: 100%;
  height: auto;
}

.cards-middle .card .title-box {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cards-middle .card .title-box .title {
  font-size: 1.3em;
}

.cards-middle .card .title-box .sub-title {
  font-size: 1em;
  color: #636c71;
}

.cards-middle .card .title-box .card__bottom {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.cards-large {
  display: -ms-grid;
  display: grid;
  gap: 70px;
}

@media (min-width: 650px) {
  .cards-large {
    font-size: .9em;
    gap: 60px;
  }
}

@media (min-width: 1000px) {
  .cards-large {
    font-size: .8em;
    -ms-grid-columns: (minmax(365px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    gap: 60px 20px;
  }
}

.cards-large .card__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 23px;
  color: #ffffff;
  margin-top: -45px;
  margin-bottom: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 550px) {
  .cards-large .card__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1000px) {
  .cards-large .card__top {
    padding: 10px 15px;
  }
}

.cards-large .title {
  line-height: .9;
  font-size: 1.2em;
  padding: 12px 7px;
  text-align: center;
  width: 100%;
}

@media (min-width: 550px) {
  .cards-large .title {
    padding: 12px 0;
    margin-right: 7px;
    width: auto;
  }
}

.cards-large .card__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 550px) {
  .cards-large .card__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.cards-large .card__nav .link {
  padding: 12px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: .9;
  font-size: 1.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.cards-large .card__nav .link span {
  padding-left: 7px;
}

.cards-large .card__nav .link.active {
  background: #eca730;
}

.check-row {
  width: 100%;
  padding: 10px 11px 10px 15px;
  border-bottom: 1px solid #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check-row:last-child {
  border: none;
}

.check-row__label {
  font-size: 1.2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-row__label input {
  margin-right: 10px;
}

.check-row__icons {
  width: 70px;
  min-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 500px) {
  .check-row__icons {
    width: 80px;
    min-width: 80px;
  }
}

@media (min-width: 800px) {
  .check-row__icons {
    width: 100px;
    min-width: 100px;
  }
}

@media (min-width: 1000px) {
  .check-row__icons {
    width: 80px;
    min-width: 80px;
  }
}

.check-row__icons a {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1000px) {
  .check-row__icons a img {
    width: 20px;
    height: auto;
  }
}

.cards-large .cart-table-top {
  display: block;
  text-align: left;
}

@media (min-width: 550px) {
  .cards-large .cart-table-top {
    display: block;
  }
}

@media (min-width: 1000px) {
  .cards-large .cart-table-top {
    padding: 15px 15px;
    margin-bottom: 10px;
  }
}

.cards-large .cart-table-top .title {
  font-weight: normal;
  display: inline-block;
  margin: 0 0 10px 0;
  font-size: 1.5em;
  padding: 0;
  text-align: left;
}

@media (min-width: 1000px) {
  .cards-large .cart-table-top .title {
    font-size: 1.7em;
  }
}

.cards-large .cart-table-top .sub-title {
  font-size: 1.2em;
}

@media (min-width: 1000px) {
  .cards-large .cart-table-top .sub-title {
    font-size: 1.4em;
  }
}

.card-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

@media (min-width: 650px) {
  .card-table {
    font-size: 1.2em;
  }
}

.card-table tr {
  border-bottom: 1px solid #b9b9b9;
}

.card-table tr:last-child {
  border: none;
}

.card-table th {
  padding: 14px 0;
  color: #18b2b2;
}

@media (min-width: 1000px) {
  .card-table th {
    padding: 10px 0;
  }
}

.card-table td {
  padding: 14px 0;
}

@media (min-width: 1000px) {
  .card-table td {
    padding: 10px 0;
  }
}

.card-table .id {
  width: 60px;
  text-align: center;
}

.dashboard__footer {
  width: 100%;
  border-top: 1px solid #b9b9b9;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .dashboard__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 40px;
  }
}

@media (min-width: 800px) {
  .dashboard__footer {
    padding: 20px 30px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  .footer-nav {
    margin-bottom: 0;
  }
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav li a {
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  color: #000000;
}

.aside {
  background: #f6f6f6;
  -webkit-box-shadow: 2px 2px 2px #afadad;
          box-shadow: 2px 2px 2px #afadad;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 10;
  display: none;
}

@media (min-width: 800px) {
  .aside {
    display: block;
  }
}

@media (min-width: 1000px) {
  .aside {
    width: 200px;
  }
}

.aside__top {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  border-bottom: 2px solid #e4e4e4;
}

@media (min-width: 1000px) {
  .aside__top {
    height: 70px;
    padding-left: 30px;
  }
}

.aside__top .title {
  color: #000;
}

.aside__main {
  padding: 30px 20px 0 15px;
}

@media (min-width: 1000px) {
  .aside__main {
    padding: 22px 15px 0 15px;
  }
}

.aside__menu .item {
  width: 100%;
  font-size: 1.1em;
  margin-bottom: 8px;
}

@media (min-width: 1000px) {
  .aside__menu .item {
    font-size: 1em;
  }
}

.aside__menu .link {
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding: 14px 10px 14px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-box-shadow: 3px 3px 2px transparent;
          box-shadow: 3px 3px 2px transparent;
}

@media (min-width: 1000px) {
  .aside__menu .link {
    padding: 14px 10px 14px 15px;
  }
}

.aside__menu .link .icon {
  margin-right: 15px;
  height: 100%;
}

@media (min-width: 1000px) {
  .aside__menu .link .icon {
    margin-right: 8px;
  }
}

.aside__menu .link svg {
  height: 100%;
  width: auto;
}

.aside__menu .link:hover {
  background: #e41958;
  -webkit-box-shadow: 3px 3px 2px #afadad;
          box-shadow: 3px 3px 2px #afadad;
  color: #fff;
}

.aside__menu .link:hover svg path {
  fill: #fff;
}

.profile {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1000px) {
  .profile {
    -ms-grid-columns: 1fr 350px;
        grid-template-columns: 1fr 350px;
    grid-auto-flow: dense;
    grid-gap: 15px;
  }
}

.user-head {
  text-align: center;
  color: #000;
  margin-bottom: 70px;
}

@media (min-width: 800px) {
  .user-head {
    margin-bottom: 55px;
  }
}

@media (min-width: 1000px) {
  .user-head {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.user-head__photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 17px #3b3b3b;
          box-shadow: 2px 2px 17px #3b3b3b;
  overflow: hidden;
  margin: -70px auto 15px;
}

.user-head__photo img {
  width: 100%;
  height: auto;
}

.user-head .title {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: .9em;
}

.user-head .sub-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.user-form {
  width: 100%;
}

@media (min-width: 1000px) {
  .user-form {
    padding-top: 15px;
  }
}

.user-form .form-row {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  margin-bottom: 25px;
}

@media (min-width: 650px) {
  .user-form .form-row {
    -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media (min-width: 800px) {
  .user-form .form-row {
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

@media (min-width: 1000px) {
  .user-form .form-row {
    -ms-grid-columns: (minmax(95px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  }
}

.user-form .form-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-form .form-control {
  width: 100%;
  padding: 10px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b9b9b9;
  background: transparent;
}

.user-form .form-control:focus {
  outline: none;
}

.user-form textarea.form-control {
  height: 50px;
}

.user-form .submit-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-form .submit-row .btn {
  width: 100%;
}

@media (min-width: 650px) {
  .user-form .submit-row .btn {
    width: 30%;
  }
}
/*# sourceMappingURL=main.css.map */